body{ 
	background-attachment: fixed; 
	background-color: rgb(0, 0, 0); 
	background-image: url("../pictures/1282797392_w082.jpg"); 
	background-position-x: center; 
	background-position-y: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	margin: 0px; 
} 
#ShadowRun{ 
	color: gold; 
	font-family: Impact; 
	font-size: 65px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 	
    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
} 

#text01{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text1{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text02{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text2{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text03{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text3{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text04{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text4{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text05{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text5{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}


body {
    font-family: helvetica, arial, verdana, sans-serif;
}

input {
	font-size: 2.4em;
	background-color: transparent;
	text-align: center;
	border-width: 0;
	width: 100%;
	margin: 0 0 .1em 0;
	color: #fff;
}

label {
	display: block;
	font-size: .8em;
}

button {
	/* basics */
	color: #444;
	background-color: #B5B198;
	/* rounded corners */
    -webkit-border-radius: 6px;
          border-radius: 6px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	font-weight: bold;

}

button:hover, button:active, button:focus {
	background-color: #CBC7AE;
}

.box {
	/* basics */
	background-color: #444;
	color: #C4BE92;
    text-align: center;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 97%;	
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
	float:left;
  
}
#plusKachBut{
  position:relative;
  float:left;
}
.plusKachestva {
	/* basics */
	background-color: #444;
	color: #C4BE92;
    text-align: left;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 47%;	
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
	position:relative;
	float:left;
  
}

#minusKachestva{
	/* basics */
	background-color: #444;
	color: #C4BE92;
    text-align: left;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 47%;	
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
	position:relative;
	float:left;
  
}
#Line{	
	position:relative;
	top:0em;
	width:100%;
	color:lime;
}
.countUm{
	color: gold; 
	font-family: Impact; 
	font-size: 40px; 
	font-style: normal; 
	font-weight: normal;
	width:100%;
	position: left;
	text-decoration: none; 
	word-spacing: 0px; 
	float:left;
    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
} 

.table{
	
	float:top;
	width:100%;
	text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
}
.selection{
	background-color: #444;
	color: #C4BE92;
    text-align: left;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 95%;	
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}

.har{
	position:relative;
	float:left;
	width:9em;
}

#pict{
	top:0;
	right:0;
}
.overlay {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}
.visible {
	background-color: #444;
	color: #C4BE92;
    text-align: left;
	    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	overflow: auto;
	z-index: 2000;
	width: 650px;
	margin-left: -250px;
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}
#win button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
}
#win button[type="button"]:hover {
	cursor: pointer;
}
#win h3 {
	text-align: center;
	color: #555;
}
#win2 button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
}
#win2 button[type="button"]:hover {
	cursor: pointer;
}
#win2 h3 {
	text-align: center;
	color: #555;
}
.content {
	background-color: #444;
	
    text-align: left;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 95%;	
	height:300px;
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
	overflow:auto;
}



.onoff
{
  width:32px;
  height:32px;
  padding:1px 4px 3px 3px;	
  font-size:12px;
  background:lightgray;
  text-align:center;
  float:right;
  
}
.onoff div
{
  width:18px;
  height:18px;
  min-height:18px;	
  background:lightgray;
  overflow:hidden;
  border-top:1px solid gray;
  border-right:1px solid white;
  border-bottom:1px solid white;
  border-left:1px solid gray;
  color:gray;
}

.countUm div{
	color: gold; 
	font-family: Impact; 
	font-size: 40px; 
	font-style: normal; 
	font-weight: normal;
	width:100%;
	text-decoration: none; 
	word-spacing: 0px;
    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
} 
.karmZn{
  text-align: center;
  color: #C4BE92;   
	font-size: 18px; 
}

#table2{
	color: #C4BE92;
}
.karmZn input{
  align: center;
  color: #C4BE92;   
	font-size: 18px; 
}