
body{ 
  font-family: 'Varela', sans-serif;
	background-attachment: fixed; 
	background-color: rgb(0, 0, 0); 
	background-image: url("../pictures/1282797392_w082.jpg"); 
	background-position-x: center; 
	background-position-y: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	margin: 0px; 
}

.glitch {
  width:30%;
  position: relative;
}
@keyframes glitch-anim-1 {
  0% {
    clip: rect(60px, 510px, 87px, 0);
  }
  6.66666667% {
    clip: rect(10px, 510px, 83px, 0);
  }
  13.33333333% {
    clip: rect(90px, 510px, 8px, 0);
  }
  20% {
    clip: rect(114px, 510px, 88px, 0);
  }
  26.66666667% {
    clip: rect(27px, 510px, 36px, 0);
  }
  33.33333333% {
    clip: rect(25px, 510px, 40px, 0);
  }
  40% {
    clip: rect(25px, 510px, 73px, 0);
  }
  46.66666667% {
    clip: rect(51px, 510px, 56px, 0);
  }
  53.33333333% {
    clip: rect(41px, 510px, 87px, 0);
  }
  60% {
    clip: rect(46px, 510px, 85px, 0);
  }
  66.66666667% {
    clip: rect(114px, 510px, 36px, 0);
  }
  73.33333333% {
    clip: rect(108px, 510px, 10px, 0);
  }
  80% {
    clip: rect(32px, 510px, 64px, 0);
  }
  86.66666667% {
    clip: rect(29px, 510px, 79px, 0);
  }
  93.33333333% {
    clip: rect(35px, 510px, 23px, 0);
  }
  100% {
    clip: rect(71px, 510px, 91px, 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip: rect(106px, 510px, 39px, 0);
  }
  6.66666667% {
    clip: rect(104px, 510px, 72px, 0);
  }
  13.33333333% {
    clip: rect(40px, 510px, 4px, 0);
  }
  20% {
    clip: rect(95px, 510px, 43px, 0);
  }
  26.66666667% {
    clip: rect(50px, 510px, 57px, 0);
  }
  33.33333333% {
    clip: rect(22px, 510px, 58px, 0);
  }
  40% {
    clip: rect(60px, 510px, 29px, 0);
  }
  46.66666667% {
    clip: rect(54px, 510px, 59px, 0);
  }
  53.33333333% {
    clip: rect(80px, 510px, 6px, 0);
  }
  60% {
    clip: rect(18px, 510px, 46px, 0);
  }
  66.66666667% {
    clip: rect(71px, 510px, 64px, 0);
  }
  73.33333333% {
    clip: rect(56px, 510px, 82px, 0);
  }
  80% {
    clip: rect(33px, 510px, 89px, 0);
  }
  86.66666667% {
    clip: rect(77px, 510px, 12px, 0);
  }
  93.33333333% {
    clip: rect(10px, 510px, 4px, 0);
  }
  100% {
    clip: rect(55px, 510px, 52px, 0);
  }
}
.glitch:hover:before, .glitch:hover:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  clip: rect(0, 0, 0, 0);
}
.glitch:hover:after {
  left: 2px;
  text-shadow: -1px 0 red;
  animation: glitch-anim-1 1s infinite linear alternate-reverse;
}
.glitch:hover:before {
  left: -2px;
  text-shadow: 2px 0 blue;
  animation: glitch-anim-2 1s infinite linear alternate-reverse;
}

#ShadowRun{
    color: gold;
  font-family: Impact;
  font-size: 95px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  word-spacing: 0px;
  text-shadow: black 1px 1px 0, black -1px -1px 0,  black -1px 1px 0, black 1px -1px 0;

} 

.select-style-wpandyou select {
  background: #444;
	color: #C4BE92;
   }

.select-style-wpandyou {
    border: 1px solid #CCC;
    overflow: hidden; 
  background-color: #444;
	color: #C4BE92;
   }
#text01{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text1{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text02{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text2{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text03{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text3{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text04{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text4{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text05{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}
#text5{ 
	color: lime; 
	font-family: Impact; 
	font-size: 25px; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left; 
	text-decoration: none; 
	word-spacing: 0px; 
}


body {
    font-family: helvetica, arial, verdana, sans-serif;
}

input {
	font-size: 2.4em;
	background-color: transparent;
	text-align: center;
	border-width: 0;
	width: 100%;
	margin: 0 0 .1em 0;
	color: #fff;
}

label {
	display: block;
	font-size: .8em;
}

button {
	/* basics */
	color: #444;
	background-color: #B5B198;
	/* rounded corners */
    -webkit-border-radius: 6px;
          border-radius: 6px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	font-weight: bold;

}

button:hover, button:active, button:focus {
	background-color: #CBC7AE;
}

.box {
	/* basics */
	background-color: #444;
	color: #C4BE92;
    text-align: center;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 97%;	
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
	float:left;
  
}
#plusKachBut{
  position:relative;
  float:left;
}
.plusKachestva {
	/* basics */
	background-color: #444;
	color: #C4BE92;
    text-align: left;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 47%;	
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
	position:relative;
	float:left;
  
}

#minusKachestva{
	/* basics */
	background-color: #444;
	color: #C4BE92;
    text-align: left;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 47%;	
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
	position:relative;
	float:left;
  
}
#Line{	
	position:relative;
	top:0em;
	width:100%;
	color:lime;
}
.countUm{
	color: gold; 
	font-family: Impact; 
	font-size: 40px; 
	font-style: normal; 
	font-weight: normal;
	width:100%;
	position: left;
	text-decoration: none; 
	word-spacing: 0px; 
	float:left;
    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
} 
#countTable{ 
	width:100%;
	position: left;
	float:left;
}
.countUm2{
	color: gold; 
  text-align: left;
	font-family: Impact; 
	font-size: 40px; 
	word-spacing: 0px; 
    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
} 

.table{
	
	float:top;
	width:100%;
	text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
}
.selection{
	background-color: #444;
	color: #C4BE92;
    text-align: left;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 95%;	
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}

.har{
	position:relative;
	float:left;
	width:9em;
}

#pict{
	top:0;
	right:0;
}
.overlay {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}
.visible {
	background-color: #444;
	color: #C4BE92;
    text-align: left;
	    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	overflow: auto;
	z-index: 2000;
	width: 650px;
	margin-left: -250px;
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}
#win button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
}
#win button[type="button"]:hover {
	cursor: pointer;
}
#win h3 {
	text-align: center;
	color: #555;
}
#win2 button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
}
#win2 button[type="button"]:hover {
	cursor: pointer;
}
#win2 h3 {
	text-align: center;
	color: #555;
}
#win3 button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
}
#win3 button[type="button"]:hover {
	cursor: pointer;
}
#win3 h3 {
	text-align: center;
	color: #555;
}
#win4 button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
}
#win4 button[type="button"]:hover {
	cursor: pointer;
}
#win4 h3 {
	text-align: center;
	color: #555;
}
#win5 button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
}
#win5 button[type="button"]:hover {
	cursor: pointer;
}
#win5 h3 {
	text-align: center;
	color: #555;
}
#win6 button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
}
#win6 button[type="button"]:hover {
	cursor: pointer;
}
#win6 h3 {
	text-align: center;
	color: #555;
}
.content {
	background-color: #444;
	
    text-align: left;
	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 95%;	
	height:300px;
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
	overflow:auto;
}



.onoff
{
  width:32px;
  height:32px;
  padding:1px 4px 3px 3px;	
  font-size:12px;
  background:lightgray;
  text-align:center;
  float:right;
  
}
.onoff div
{
  width:18px;
  height:18px;
  min-height:18px;	
  background:lightgray;
  overflow:hidden;
  border-top:1px solid gray;
  border-right:1px solid white;
  border-bottom:1px solid white;
  border-left:1px solid gray;
  color:gray;
}

.countUm div{
	color: gold; 
	font-family: Impact; 
	font-size: 40px; 
	font-style: normal; 
	font-weight: normal;
	width:100%;
	text-decoration: none; 
	word-spacing: 0px;
    text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
} 
.karmZn{
  text-align: center;
  color: #C4BE92;   
	font-size: 18px; 
}

#table2{
	color: #C4BE92;
}
.karmZn input{
  align: center;
  color: #C4BE92;   
	font-size: 18px; 
}
#picture{
	position:absolute;
  top:0px;
	right: 0px;
}
#pict::after {
  content: '';
  position: absolute;
	height:90px;
  width:200px;
  top: 40%;
  right: 40%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,1) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}
#pict {
	width:100px;
	height:100px;
  
  /*href="pictures/Shadowrun_5_rus_perevod_GMD_v1_2.pdf" */
  background-image:url('http://www.harebrained-schemes.com.s3.amazonaws.com/wp-content/uploads/2013/08/srrIcon_hi-res.png');
  border-radius: 50px;
  padding: 0 0em;
  position: relative;
  overflow: hidden;
  line-height: 50px;
}
#pict:hover::after, #pict:focus::after { animation: sheen 1s forwards; }

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
